/* playfair-display-italic - latin */
@font-face {
    font-family: 'playfair Display';
    src: url('../fonts/playfair-display-v15-latin-italic.woff2') format('woff2'),
    url('../fonts/playfair-display-v15-latin-italic.woff') format('woff'),
    url('../fonts/playfair-display-v15-latin-italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
}

/* playfair-display-700italic - latin */
@font-face {
    font-family: 'playfair Display';
    src: url('../fonts/playfair-display-v15-latin-700italic.woff2') format('woff2'),
    url('../fonts/playfair-display-v15-latin-700italic.woff') format('woff'),
    url('../fonts/playfair-display-v15-latin-700italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 700;
}

/* lato-regular - latin */
@font-face {
    font-family: 'lato';
    src: url('../fonts/lato-v16-latin-regular.woff2') format('woff2'),
    url('../fonts/lato-v16-latin-regular.woff') format('woff'),
    url('../fonts/lato-v16-latin-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}
/* lato-700 - latin */
@font-face {
    font-family: 'lato';
    src: url('../fonts/lato-v16-latin-700.woff2') format('woff2'),
    url('../fonts/lato-v16-latin-700.woff') format('woff'),
    url('../fonts/lato-v16-latin-700.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}
/* Krinkes Decor PERSONAL USE */
@font-face {
    font-family: 'krinkes';
    src: url('../fonts/Krinkes-Decor-PERSONAL-USE.woff2') format('woff2'),
    url('../fonts/Krinkes-Decor-PERSONAL-USE.woff') format('woff'),
    url('../fonts/Krinkes-Decor-PERSONAL-USE.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

html{
    box-sizing: border-box;
    --min-width-conteiner: 360px;
    --max-width-conteiner: 1290px;
    --main-color: black;
    --secondary-color: #d9bf8f;
    --lato: 'lato', sans-serif;
    --playfair: 'playfair Display', serif;
    overflow-x: hidden;
}
html.open{
    overflow: hidden;
}
*, *::after, *::before{
    box-sizing: inherit;
}
.body{
    min-height: 100vh;
    position: relative;
}
.wrapper{
    margin: 0 auto;
    max-width: var(--max-width-conteiner);
    min-width: var(--min-width-conteiner);
}
.full-width:after{
    content:'';
    display: block;
    height: 100%;
    width: 100vw;
    background-color: inherit;
    position: absolute;
    top: 0;
    z-index: -1;
    margin: auto;
    left: -50vw;
    right: -50vw;
}
.icon{
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    margin-right: 8px;
}
.upper-header{
    background-color: #f2f2f2;
    font-size: 11px;
    font-family: var(--lato);
    position: relative;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: auto 1fr auto;
    padding: 15px 0;
}
.lower-header__hamburger-button{
    display: none;
    border: none;
    background-color: unset;
    padding: 0;
    border: 0;
    width: 23px;
    height: 21px;
    background-repeat: no-repeat;
    background-image: url("../img/hamburger.svg");
}
.upper-header__phone-link{
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}
.upper-header__menu{
    grid-column-start: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.upper-header__menu-item{
    padding: 0 18px;
    margin: 0;
    border-right: 1px solid black;
}
.upper-header__menu-item:last-child{
    border-right: none;
    padding-right: 0;

}
.upper-header__menu-link{
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
}
@media screen and (max-width: 600px) {
    .upper-header__menu-item{
        padding: 0;
        border: none;
    }
}

.lower-header{
    display: grid;
    grid-template-columns: auto 5fr auto 4fr auto 1fr auto auto;
    align-items: center;
    padding: 20px 0;
}
@media screen and (max-width: 1330px) {
    .upper-header, .lower-header{
        padding-right: 20px;
        padding-left: 20px;
    }
}
.page-nav{
    position: relative;
}
.page-nav__menu{
    display: grid;
    grid-template-columns: 9fr 11fr 16fr 9fr;
    grid-column-gap: calc(100vw / 55);
    margin: 0;
    padding: 0;
    list-style: none;
}
.page-nav__link{
    text-decoration: none;
    color: inherit;
    font-family: var(--playfair);
    font-size: 18px;
    font-style: italic;
}
.lower-header__logo-link{
    grid-column-start: 3;
    justify-self: center;
}
.lower-header__logo-img{
    width: 230px;
    height: 75px;
}
.lower-header__social-menu{
    grid-column-start: 5;
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 12px;
}
.lower-header__social-link{
    width: 34px;
    height: 34px;
    border: 2px solid;
    border-radius: 50%;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.lower-header__social-img{
    height: 14px;
    fill:currentColor;
}
.lower-header__select-menu{
    grid-column-start: 7;
    background: black;
    border: none;
    font-size: 12px;
    font-family: var(--lato);
    font-weight: bold;
    color: white;
    height: 35px;
    padding: 10px;
    width: 90px;
    text-transform: uppercase;
}
.lower-header__select-option{
    padding: 10px;
    margin: 10px 0;
}
@media screen and (max-width: 900px) {
    .lower-header{
        grid-template-columns: auto 1fr auto 20px auto;
        grid-template-rows: auto auto;
        grid-gap: 20px 0;
    }
    .lower-header__logo-link{
        grid-column-start: span 5;
        grid-row-start: 1;
    }
    .page-nav{
        grid-column-start: 1;
        grid-row-start: 2;
    }
    .lower-header__social-menu{
        grid-column-start: 3;
        grid-row-start: 2;
    }
    .lower-header__select-menu{
        grid-column-start: 5;
        grid-row-start: 2;
    }
}
@media screen and (max-width: 700px) {
    .lower-header{
        grid-template-rows: auto auto;
        grid-gap: 20px 0;
    }
    .lower-header__social-menu {
        grid-column-gap: 8px;
    }
}
@media screen and (max-width: 600px) {
    .upper-header{
        display: block;
    }
    .upper-header__phone-link{
        display: none;
    }
    .lower-header{
        grid-template-columns: auto 1fr auto 1fr auto;
        grid-template-rows: auto auto;
        grid-gap: 20px 0;
    }
    .lower-header__hamburger-button{
        display: block;
    }
    .page-nav__menu{
        display: none;
    }
    .page-nav__item{
        padding: 20px 0;
        text-align: center;
    }
    .page-nav__item{
        border-bottom: 1px solid lightgrey;
    }
    .lower-header__social-menu {
        grid-column-gap: 8px;
    }
}

.page-nav.open{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 1000;
}
.page-nav__menu.open{
    padding: 75px 20px;
    display: block;
}
.lower-header__hamburger-button.open{
    /*display: block;*/
    position: absolute;
    bottom: 80px;
    right: 80px;
    background-image: url(../img/close.svg);
    height: 25px;
    width: 25px;
}


.banner-section__item{
    position: relative;
    font-family: var(--lato);
    font-weight: bold;
    text-transform: uppercase;
}
.banner-section__img{
   width: 100%;
}
.banner-section__info-block{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 259px;
    height: 259px;
    border: 1px solid white;
    padding: 2% 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
.banner-section__info-block:before{
    content: '';
    width: 107%;
    height: 107%;
    border: 3px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner-section__info-text{
    margin: 0;
}
.banner-section__info-text_one{
    font-size: 1em;
    color: white;
}
.banner-section__info-text_two{
    font-size: 3em;
}
.banner-section__info-text_three{
    font-size: 1em;
    padding: 0 8px;
    color: white;
    background-color: #8a8784;
    position: relative;
}
.banner-section__info-text_three:before{
    content: '';
    width: 200%;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1
}
.banner-section__info-text_three:after{
    content: '';
    width: 275%;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;
}
.banner-section__info-text__four{
    font-size: 1.5em;
}
.banner-section__button{
    border: none;
    background-color: #f09d66;
    color: white;
    text-transform: uppercase;
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 1.2em;
    padding: 0.85em 1.25em;
    white-space: nowrap;
}
.slick-dots{
    position: absolute;
    bottom: 8%;
    display: flex;
    justify-content: center;
}
.slick-dots li{
    width: auto;
    height: auto;
    margin: 0 15px;
}
.slick-dots li button{
    width: auto;
    height: auto;
    padding: 0;
}
.slick-dots li button:before{
    content: '';
    background-color: #b2b2b2;
    width: 13px;
    height: 13px;
    transform: rotate(45deg);
    opacity: 0.7;
    transition: all .2s;
}
.slick-dots li.slick-active button:before{
    background-color: black;
    opacity: 1;
}
.slick-dots li button:hover:before, .slick-dots li.slick-active button:hover:before {
    border: 1px solid white;
}
@media screen and (max-width: 1100px) {
    .banner-section__info-block{
        width: 230px;
        height: 230px;
        font-size: 18px;
    }
}
@media screen and (max-width: 950px) {
    .banner-section__info-block{
        width: 210px;
        height: 210px;
        font-size: 16px;
    }
    .banner-section__button{
        bottom: -45%;
    }
}
@media screen and (max-width: 850px) {
    .banner-section__info-block{
        width: 190px;
        height: 190px;
        font-size: 15px;
    }
    .banner-section__info-text_three:before{
        width: 170%;
    }
    .banner-section__info-text_three:after{
        width: 230%;
    }
}
@media screen and (max-width: 780px) {
    .banner-section__info-block{
        width: 170px;
        height: 170px;
        font-size: 14px;
    }
    .slick-dots li button:before{
        width: 11px;
        height: 11px;
    }
}
@media screen and (max-width: 690px) {
    .banner-section__info-block{
        width: 160px;
        height: 160px;
        font-size: 13px;
        bottom: -37%;

    }
    .banner-section__button{
        bottom: -45%;
    }
    .slick-dots li button:before{
        width: 10px;
        height: 10px;
    }
}
@media screen and (max-width: 600px) {
    .banner-section__info-block{
        width: 160px;
        height: 160px;
        font-size: 12px;
        bottom: -37%;

    }
}
@media screen and (max-width: 530px) {
    .banner-section__info-block{
        width: 140px;
        height: 140px;
        font-size: 11px;
        bottom: -37%;

    }
}
@media screen and (max-width: 440px) {
    .banner-section__info-block{
        width: 120px;
        height: 120px;
        font-size: 10px;
    }
}
@media screen and (max-width: 440px) {
    .banner-section__info-block{
        width: 100px;
        height: 100px;
        font-size: 8px;
    }
}

.offers-section{
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 100px;
    font-size: 30px;
    --border-width: 50px solid transparent;
    --border-height: 40px solid;
}
@media screen and (max-width: 1290px) {
    .offers-section{
        font-size: calc(100vw / 43);
    }
}
.offers-section__item{
    height: 100px;
    color: white;
    padding: 30px 0 30px 30px;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
}
.offers-section__item_left{
    left: 0;
    width: 30%;
}
.offers-section__item_center{
    left: 50%;
    transform: translate(-50%, 0);
    width: 36%;
    padding-left: 5.5%;
    background-color: black;
}
.offers-section__item_right{
    right: 0;
    width: 30%;
}
.offers-section__item_left::after,
.offers-section__item_center::after,
.offers-section__item_center::before,
.offers-section__item_right::after{
    content: '';
    display: inline-block;
    position: absolute;
    z-index: 1;
}
.offers-section__item_left::after{
    top: 5px;
    right: -70px;
    transform: rotate(90deg) translate(25px, 0);
    border-right: var(--border-width);
    border-bottom: var(--border-height) var(--secondary-color);
    border-left: var(--border-width);
}
.offers-section__item_center::after{
    top: 0;
    left: -1px;
    border-top: var(--border-width);
    border-bottom: var(--border-width);
    border-left: var(--border-height) white;
}
.offers-section__item_center::before{
    top: 0;
    right: -1px;
    transform: rotate(180deg);
    border-top: var(--border-width);
    border-bottom: var(--border-width);
    border-left: var(--border-height) white;
}

.offers-section__item_right::after{
    top: 0;
    left: -40px;
    transform: rotate(180deg);
    border-top: var(--border-width);
    border-bottom: var(--border-width);
    border-left: var(--border-height) var(--secondary-color);
}
.offers-section__item-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    margin-right: 15px;
}
@media screen and (max-width: 1290px) {
    .offers-section__item-icon{
        width: calc(100vw / 32.25);
        height: calc(100vw / 32.25);
        margin-right: 15px;
    }
}
@media screen and (max-width: 900px) {
    .offers-section__item {
        height: 80px;
    }
    .offers-section{
        --border-height: 26px solid;
        --border-width: 40px solid transparent;
        margin-bottom: 80px;
    }
    .offers-section__item-icon{
        margin-right: 10px;
    }
    .offers-section__item_left::after{
        top: 2px;
        right: -53px;
    }
    .offers-section__item_right::after{
        left: -26px;
    }
}
@media screen and (max-width: 750px) {
    .offers-section__item {
        height: 60px;
    }
    .offers-section{
        --border-height: 18px solid;
        --border-width: 30px solid transparent;
        margin-bottom: 60px;

    }
    .offers-section__item-icon{
        margin-right: 8px;
    }
    .offers-section__item_left::after{
        top: -4px;
        right: -39px;
    }
    .offers-section__item_right::after{
        left: -18px;
    }
}

@media screen and (max-width: 600px) {
    /*.slick-dotted.slick-slider {*/
    /*    margin-bottom: 30px;*/
    /*}*/
    .offers-section{
        display: block;
        margin: 6% 0;
        font-size: 18px;
    }
    .offers-section__item {
        margin: 2% 0;
        position: static;
        width: 100%;
        transform: none;
        padding: 30px 0 30px 25%;
    }
    .offers-section__item-icon{
        margin-right: 6.5%;
    }
    .offers-section__item_left::after,
    .offers-section__item_center::after,
    .offers-section__item_center::before,
    .offers-section__item_right::after{
        display: none;
    }
    .offers-section__item-icon{
        width: 28px;
        height: 28px;
    }
}
.offers-section__main-text{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: var(--lato);
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
}
.offers-section__second-text{
    font-size: 0.5em;
    margin-top: 0.5em;
    font-weight: normal;
    text-transform: none;
}
.title-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6% 0;
}
.title-block:before{
    content: "";
    display: block;
    height: 1px;
    margin-right: 4.5%;
    background-color: #eaeaea;;
    flex-grow: 1;
}
.title-block:after{
    content: "";
    display: block;
    height: 1px;
    margin-left: 4.5%;
    background-color: #eaeaea;;
    flex-grow: 1;
}

.title-block__title{
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-basis: 30%;
    /*max-width: 380px;*/
    align-items: center;
    font-family: var(--playfair);
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
}
.title-block__title_wider{
    flex-basis: 37%;
}
.title-block__title::before, .title-block__title::after{
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: var(--secondary-color);
    transform: rotate(45deg);
}

@media screen and (max-width: 900px) {
    .title-block__title{
        flex-basis: 33%;
        font-size: 24px;
    }
    .title-block__title_wider{
        flex-basis: 43%;
    }
    .title-block__title::before, .title-block__title::after{
        width: 12px;
        height: 12px;
    }
}
@media screen and (max-width: 600px) {
    .title-block__title{
        flex-basis: 42%;
        font-size: 30px;
    }
    .title-block__title_wider{
        flex-basis: 60%;
    }
}
@media screen and (max-width: 540px) {
    .title-block__title{
        flex-basis: 50%;
        font-size: 28px;
    }
    .title-block__title_wider{
        flex-basis: 70%;
    }
}
@media screen and (max-width: 440px) {
    .title-block__title{
        flex-basis: 60%;
        font-size: 26px;
    }
    .title-block__title_wider{
        flex-basis: 80%;
    }
}

.featured-content{
    display: grid;
    grid-auto-flow: column;
    grid-template: 1fr 1fr / 400fr 460fr 400fr;
    align-items: start;
    grid-row-gap: 13px;
    grid-column-gap: 20px;
}
@media screen and (max-width: 900px) {
    .featured-content{
        grid-row-gap: 8px;
        grid-column-gap: 12px;
    }
}
@media screen and (max-width: 600px) {
    .featured-content{
        grid-template: repeat(5, auto) / 100%;
        align-items: start;
        grid-row-gap: 15px;
    }

}
.featured-content__item{
    padding-top: 100%;
    position: relative;
}
.featured-content__item_center{
    grid-row-start: span 2;
    padding-top: 178%;
}
.featured-content__item_down-item{
    align-self: end;
}
.featured-content__img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.featured-content__item_with-button,
.featured-content__item_jewellery{
    position: relative;
}
.button{
    border: none;
    background-color: var(--secondary-color);
    color: white;
    text-transform: uppercase;
    font-family: var(--lato);
    font-size: 15px;
    font-weight: bold;
    padding: 1em;
    position: absolute;
    bottom: 16%;
    left: 50%;
    transform: translate(-50%, 0);
}
@media screen and (max-width: 900px) {
    .button{
        font-size: 12px;
        padding: 0.9em;
    }
}
@media screen and (max-width: 600px) {
    .button{
        font-size: 20px;
        padding: 1em;
    }
}
.jewellery-title-wrapper{
    position: absolute;
    top: 16%;
    width: 100%;
}
.jewellery-title-wrapper__title{
    text-transform: uppercase;
    font-family: var(--lato);
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    text-align: center;
}
.jewellery-title-wrapper__title_second-title{
    margin-top: 13px;
    font-size: 14px;
}
@media screen and (max-width: 900px) {
    .jewellery-title-wrapper{
        top: 13%;
    }
    .jewellery-title-wrapper__title{
        font-size: 18px;
    }
    .jewellery-title-wrapper__title_second-title{
        margin-top: 9px;
        font-size: 10px;
    }
}
@media screen and (max-width: 600px) {
    .jewellery-title-wrapper{
        top: 16%;
    }
    .jewellery-title-wrapper__title{
        font-size: 30px;
    }
    .jewellery-title-wrapper__title_second-title{
        margin-top: 20px;
        font-size: 16px;
    }
}
.featured-content__second-img{
    display: none;
}
@media screen and (max-width: 600px) {
    .featured-content__item_center{
        grid-row-start: span 1;
        padding-top: 0;
    }
    .featured-content__second-img{
        display: block;
        width: 100%;
    }
    .featured-content__img_variable-visible{
        display: none;
    }
}

.center-title-wrapper{
    position: absolute;
    top: 35%;
    left: 12%;
    /*width: 100%;*/
}
.center-title-wrapper__title{
    font-family: var(--playfair);
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
    margin: 0;
}
.center-title-wrapper__title_second-title{
    font-family: var(--lato);
    font-style: normal;
    text-transform: uppercase;
    color: white;
    margin-top: 20px;
    font-size: 36px;
}
@media screen and (max-width: 900px) {
    .center-title-wrapper__title{
        font-size: 16px;
    }
    .center-title-wrapper__title_second-title{
        font-size: 24px;
    }
}
@media screen and (max-width: 600px) {
    .center-title-wrapper__title{
        font-size: 24px;
    }
    .center-title-wrapper__title_second-title{
        font-size: 36px;
    }
}
.featured-content__item_discount{
    position: relative;
}
.discount-title-wrapper{
    position: absolute;
    top: 45%;
    transform: translate(-50%, -50%);
    left: 50%;
}
.discount-title-wrapper__title{
    font-family: var(--lato);
    font-weight: bold;
    font-size: 51px;
    margin: 0;
    padding-left: 4px;
}
.discount-title-wrapper__title_second-title {
    text-transform: uppercase;
    margin-top: -20px;
    font-size: 60px;
}
@media screen and (max-width: 900px) {
    .discount-title-wrapper__title{
        font-size: 34px;
    }
    .discount-title-wrapper__title_second-title {
        margin-top: -12px;
        font-size: 40px;
    }
}
@media screen and (max-width: 600px) {
    .discount-title-wrapper__title{
        font-size: 67px;
    }
    .discount-title-wrapper__title_second-title {
        margin-top: -23px;
        font-size: 76px;
    }
}
.collection-content{
    display: grid;
    grid-template: repeat(2, 1fr)/ repeat(4, 1fr);
    grid-gap: 15px 20px;
    padding: 20px 15px;
    border: 1px solid #eaeaea;
    align-items: start;
}

@media screen and (max-width: 900px) {
    .collection-content{
        grid-gap: 10px 10px;
        padding: 10px 10px;
    }
}
@media screen and (max-width: 600px) {
    .collection-content{
        grid-template: repeat(4, 1fr)/ repeat(2, 1fr);
    }
}

.collection-content__item{
    position: relative;
    padding-top: 116%;
}
.collection-content__item_label::after{
    content: attr(data-discount);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #feab12;
    color: white;
    font-family: var(--lato);
    font-weight: bold;
    font-size: 22px;
    position: absolute;
    top: 5%;
    left: 5%;
}
@media screen and (max-width: 900px) {
    .collection-content__item_label::after{
        width: 39px;
        height: 39px;
        font-size: 18px;
    }
}
.collection-content__img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: filter 0.4s;
}
.brightDown {
    filter: brightness(0.7);
}
.collection-content__add-button{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    border: none;
    background-color: unset;
    border-bottom: 42px solid black;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    height: 0;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.4s;
}


.collection-content__button-text{
    color: white;
    font-family: var(--lato);
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin: 14px 0;

}
@media screen and (max-width: 900px) {
    .collection-content__add-button{
        border-bottom: 22px solid black;
        border-left: 22px solid transparent;
        border-right: 22px solid transparent;
        width: 120px;
    }
    .collection-content__button-text{
        font-size: 8px;
        margin: 7px 0;
    }
}
.color-change{
    border-bottom-color: var(--secondary-color);
}

.brand-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.brand-content__img-wrapper{
    flex-basis: 10%;
    text-align: center;
}
.brand-content__img{
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 1000px) {
    .brand-content__img-wrapper{
        flex-basis: 14%;
    }
}
@media screen and (max-width: 750px) {
    .brand-content{
        flex-wrap: wrap;
    }
    .brand-content__img-wrapper{
        flex-basis: 26%;
        margin: 10px 0;
    }
}
@media screen and (max-width: 600px) {
    .brand-content__img-wrapper{
        flex-basis: 34%;
    }
}

.says-content {
    padding: 30px 0 4%;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.says-content::before{
    content:'';
    display: block;
    position: absolute;
    top: -1px;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 180px solid transparent;
    border-right: 180px solid transparent;
    border-top: 30px solid white;
}
.says-content__content-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 50%;
    max-height: 320px;
    --margin-minus: -100px;
    font-size: 15px;
}
.says-content__img-wrapper{
    align-self: flex-start;
    width: 39%;
    margin: auto var(--margin-minus) auto 0;
    z-index: 0;
}
.says-content__img-wrapper_right-block{
    order: 1;
    align-self: flex-end;
    margin: auto 0 auto var(--margin-minus);
}
.says-content__img{
    width: 100%;
    height: auto;
}.says-content__img_right-block{

}

.says-content__text{
    color: white;
    font-family: var(--playfair);
    font-size: 1.2em;
    font-style: italic;
    margin: 14% 0 0 0;
    white-space: pre-line;
    line-height: 2em;
    align-self: flex-start;
}
.says-content__text_right-block{
    text-align: right;
    align-self: flex-end;
}
.says-content__sayer-name{
    font-family: var(--playfair);
    font-size: 2em;
    font-style: italic;
    font-weight: bold;
    margin: 6% 0 0 0;
    align-self: start;
    z-index: 1;
}
.says-content__sayer-position{
    color: #7f7e7e ;
    font-family: var(--lato);
    font-size: 0.46em;
    font-weight: bold;
    display: block;
    margin-top: 25px;
}
.says-content__sayer-name_right-block{
    text-align: right;
    align-self: flex-end;
}
.says-content__sayer-position_right-block{
    text-align: right;
}
@media screen and (max-width: 1290px) {
    .says-content__content-container{
        max-height: calc(100vw / 4.03);
        font-size: calc(100vw / 86);
        --margin-minus: calc(100vw / -12.9);
    }
    .says-content {
        padding: 30px 0 4%;
    }
    .says-content::before{
        border-left: calc(100vw / 7.16) solid transparent;
        border-right: calc(100vw / 7.16) solid transparent;
        border-top: calc(100vw / 43) solid white;
    }
    .says-content__text{
        margin: calc(100vw / 14.33) 0 0 0;
    }
    .says-content__sayer-position{
         margin-top: calc(100vw / 51.6);
    }

}

@media screen and (max-width: 600px) {
    .says-content {
        display: block;
        padding: 30px 0;
    }
    .says-content::before{
        display: none;
    }
    .says-content__content-container{
        padding: 0 20px;
        max-height: calc(100vw / 1.85);
        --margin-minus: calc(100vw / -12);
        font-size: calc(100vw / 40);
    }
    .says-content__img-wrapper{
        width: 40%;
    }
    .says-content__text{
        margin: 10% 0 0 0;
    }
    .says-content__sayer-position{
        margin-top: calc(100vw / 24);
    }
}
.footer{
    position: relative;
    background-color: black;
    font-family: var(--lato);
    padding-bottom: 80px;
}
@media screen and (max-width: 1330px) {
    .footer{
        padding-left: 18px;
        padding-right: 18px;
    }
}
.upper-footer{
    height: 440px;
    padding: 70px 0 35px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}

.upper-footer::before{
    content: '';
    height: 1px;
    background-color: #737373;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 10;
}
.upper-footer::after{
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #737373;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
}
.upper-footer__menu{
    margin-bottom: 50px;
}
@media screen and (max-width: 900px) {
    .upper-footer{
        height: auto;
        flex-direction: row;
    }
    .upper-footer__menu{
        flex-basis: 33%;
    }
    .upper-footer__menu_social-menu, .upper-footer__subscribe{
        flex-basis: 100%;
    }
}
.upper-footer__menu-title{
    font-weight: bold;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.upper-footer__menu-list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.upper-footer__menu-link{
    font-size: 14px;
    text-decoration: none;
    color: #737373;
    line-height: 30px;
}

.upper-footer__menu-list_social-menu{
    display: flex;
}
.upper-footer__menu-item_social-item{
    margin-right: 15px;
}
@media screen and (max-width: 520px) {
    .upper-footer__menu-title{
        font-size: 11px;
        margin-bottom: 20px;
    }
    .upper-footer__menu-link{
        font-size: 10px;
        line-height: 18px;
    }
}
    .upper-footer__menu-link_social-link{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.upper-footer__social-img{
    height: 20px;
    fill:currentColor;
}

.subscribe-block{
    width: 100%;
    display: flex;
    border: 1px solid #737373;
    padding: 3px;
    max-width: 360px;
}
.subscribe-block__input-line{
    flex-basis: 86%;
    min-height: 46px;
    padding-left: 20px;
    background: none;
    border: none;
}
.upper-footer__italic-title{
    font-family: var(--playfair);
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    text-transform: lowercase;
}
.subscribe-block__subscribe-button{
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1em 1.25em;
    background-color: #323030;
    border: none;
}
.small{
    display: inline-block;
    padding: 30px 0;
    color: #737373;
    font-family: var(--lato);
    font-size: 11px;
    line-height: 18px;
    white-space: pre-line;
}
.pay-services{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.pay-services__item{
    display: flex;
    align-items: center;
    margin-right: 27px;
}
.pay-services__img{
    width: 23px;
    height: auto;
}