/* playfair-display-italic - latin */
@font-face {
    font-family: 'playfair Display';
    src: url('../fonts/playfair-display-v15-latin-italic.woff2') format('woff2'),
    url('../fonts/playfair-display-v15-latin-italic.woff') format('woff'),
    url('../fonts/playfair-display-v15-latin-italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
}

/* playfair-display-700italic - latin */
@font-face {
    font-family: 'playfair Display';
    src: url('../fonts/playfair-display-v15-latin-700italic.woff2') format('woff2'),
    url('../fonts/playfair-display-v15-latin-700italic.woff') format('woff'),
    url('../fonts/playfair-display-v15-latin-700italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 700;
}

/* lato-regular - latin */
@font-face {
    font-family: 'lato';
    src: url('../fonts/lato-v16-latin-regular.woff2') format('woff2'),
    url('../fonts/lato-v16-latin-regular.woff') format('woff'),
    url('../fonts/lato-v16-latin-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}
/* lato-700 - latin */
@font-face {
    font-family: 'lato';
    src: url('../fonts/lato-v16-latin-700.woff2') format('woff2'),
    url('../fonts/lato-v16-latin-700.woff') format('woff'),
    url('../fonts/lato-v16-latin-700.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}
/* Krinkes Decor PERSONAL USE */
@font-face {
    font-family: 'krinkes';
    src: url('../fonts/Krinkes-Decor-PERSONAL-USE.woff2') format('woff2'),
    url('../fonts/Krinkes-Decor-PERSONAL-USE.woff') format('woff'),
    url('../fonts/Krinkes-Decor-PERSONAL-USE.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

html{
    box-sizing: border-box;
    --min-width-conteiner: 360px;
    --max-width-conteiner: 1290px;
    --main-color: black;
    --secondary-color: #f0975c;
    --lato: 'lato', sans-serif;
    --playfair: 'playfair Display', serif;
    overflow-x: hidden;
}
*, *::after, *::before{
    box-sizing: inherit;
}
.body{
    min-height: 100vh;
}
.wrapper{
    margin: 0 auto;
    max-width: var(--max-width-conteiner);
    min-width: var(--min-width-conteiner);
}
.title-block{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 65px;
}
.title-block__title{
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-basis: 30%;
    align-items: center;
    font-family: var(--playfair);
    font-style: italic;
    font-weight: 700;
}
.title-block__title::before, .title-block__title::after{
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: var(--secondary-color);
    transform: rotate(45deg);
}
.title-block__marker{
    height: 1px;
    background-color: #eaeaea;;
    flex-grow: 1;
}
.title-block__marker_left-marker{
    margin-right: 60px;
}
.title-block__marker_right-marker{
    margin-left: 60px;
}
.featured-content{
    display: grid;
    grid-auto-flow: column;
    grid-template: 1fr 1fr / 400fr 460fr 400fr;
    align-items: start;
    grid-row-gap: 15px;
    grid-column-gap: 20px;
}
.content-block{
    margin-bottom: 100px;
}
.featured-content__item{
    padding-top: 100%;
    position: relative;
}
.featured-content__item_center{
    grid-row-start: span 2;
    padding-top: 178%;
}

.featured-content__img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.featured-content__item_with-button,
.featured-content__item_jewellery{
    position: relative;
}
.button{
    border: none;
    background-color: var(--secondary-color);
    color: white;
    text-transform: uppercase;
    font-family: var(--lato);
    font-size: 15px;
    font-weight: bold;
    padding: 1em;
    position: absolute;
    bottom: 16%;
    left: 50%;
    transform: translate(-50%, 0);
}
.jewellery-title-wrapper{
    position: absolute;
    top: 14%;
    width: 100%;
}
.jewellery-title-wrapper__title{
    text-transform: uppercase;
    font-family: var(--lato);
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    text-align: center;
}
.jewellery-title-wrapper__title_second-title{
    margin-top: 20px;
    font-size: 14px;
}
.center-title-wrapper{
    position: absolute;
    top: 35%;
    left: 12%;
    width: 100%;
}
.center-title-wrapper__title{
    font-family: var(--playfair);
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
    margin: 0;
}
.center-title-wrapper__title_second-title{
    font-family: var(--lato);
    font-style: normal;
    text-transform: uppercase;
    color: white;
    margin-top: 30px;
    font-size: 36px;
}
.featured-content__item_discount{
    position: relative;
}
.discount-title-wrapper{
    position: absolute;
    top: 45%;
    transform: translate(-50%, -50%);
    left: 50%;
}
.discount-title-wrapper__title{
    font-family: var(--lato);
    font-weight: bold;
    font-size: 48px;
    margin: 0;
}
.discount-title-wrapper__title_second-title{
    text-transform: uppercase;
    margin-top: -10px;
    font-size: 60px;
}

.brand-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand-img{
    flex-basis: 14%;
    width: 100%;
    height: auto;
}

.collection-content{
    display: grid;
    grid-template: repeat(2, 1fr)/ repeat(4, 1fr);
    grid-gap: 15px 20px;
    padding: 20px 15px;
    border: 1px solid #eaeaea;
    align-items: start;
}
.collection-content__item{
    position: relative;
    background-color: black;
    padding-top: 116%;
}
.collection-content__item_label::after{
    content: attr(data-discount);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #feab12;
    color: white;
    font-family: var(--lato);
    font-weight: bold;
    font-size: 22px;
    position: absolute;
    top: 16px;
    left: 16px;
}
.collection-content__img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.collection-content__add-button{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    border: none;
    background-color: unset;
    border-bottom: 37px solid black;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    height: 0;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.collection-content__button-text{
    color: white;
    font-family: var(--lato);
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}
