/* Document
 * ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
 * ========================================================================== */

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */

/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */

dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */

ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge 18- and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
 * ========================================================================== */

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */

abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/* Embedded content
 * ========================================================================== */

/* Forms
 * ========================================================================== */

/**
 * Remove the margin on controls in Safari.
 */

button,
input,
select {
  margin: 0;
}

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */

button {
  text-transform: none; /* 2 */
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * Show the overflow in Edge 18- and IE.
 */

input {
  overflow: visible;
}

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */

legend {
  box-sizing: border-box; /* 1 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the inheritance of text transform in Firefox.
 */

select {
  text-transform: none;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 */

textarea {
  margin: 0; /* 1 */
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove the additional :invalid styles in Firefox.
 */

:-moz-ui-invalid {
  box-shadow: none;
}

/* Interactive
 * ========================================================================== */

/*
 * Add the correct display in Edge 18- and IE.
 */

details {
  display: block;
}

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */

dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
 * ========================================================================== */

/* User interaction
 * ========================================================================== */

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/* playfair-display-italic - latin */

@font-face {
  font-family: 'playfair Display';
  src: url('../fonts/playfair-display-v15-latin-italic.woff2') format('woff2'),
  url('../fonts/playfair-display-v15-latin-italic.woff') format('woff'),
  url('../fonts/playfair-display-v15-latin-italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}

/* playfair-display-700italic - latin */

@font-face {
  font-family: 'playfair Display';
  src: url('../fonts/playfair-display-v15-latin-700italic.woff2') format('woff2'),
  url('../fonts/playfair-display-v15-latin-700italic.woff') format('woff'),
  url('../fonts/playfair-display-v15-latin-700italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 700;
}

/* lato-regular - latin */

@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-v16-latin-regular.woff2') format('woff2'),
  url('../fonts/lato-v16-latin-regular.woff') format('woff'),
  url('../fonts/lato-v16-latin-regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

/* lato-700 - latin */

@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-v16-latin-700.woff2') format('woff2'),
  url('../fonts/lato-v16-latin-700.woff') format('woff'),
  url('../fonts/lato-v16-latin-700.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

/* Krinkes Decor PERSONAL USE */

@font-face {
  font-family: 'krinkes';
  src: url('../fonts/Krinkes-Decor-PERSONAL-USE.woff2') format('woff2'),
  url('../fonts/Krinkes-Decor-PERSONAL-USE.woff') format('woff'),
  url('../fonts/Krinkes-Decor-PERSONAL-USE.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

:root {
  --min-width-conteiner: 360px;
  --max-width-conteiner: 1290px;
  --main-color: black;
  --secondary-color: #d9bf8f;
  --lato: 'lato', sans-serif;
  --playfair: 'playfair Display', serif;
}

/*@custom-media --sm (min-width: 600px);*/

/*@custom-media --md (min-width: 900px);*/

/*@custom-media --lg (min-width: 1200px);*/

/*@custom-media --xl (min-width: 1800px);*/

/*! purgecss start ignore */

*,
::before,
::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

/*stylelint-disable*/

html{
  box-sizing: border-box;
  overflow-x: hidden;
}

*, *::after, *::before{
  box-sizing: inherit;
}

.body{
  min-height: 100vh;
  position: relative;
  margin: 0;
}

.wrapper{
  margin: 0 auto;
  max-width: 1290px;
  max-width: var(--max-width-conteiner);
  min-width: 360px;
  min-width: var(--min-width-conteiner);
}

.full-width:after{
  content:'';
  display: block;
  height: 100%;
  width: 100vw;
  background-color: inherit;
  position: absolute;
  top: 0;
  z-index: -1;
  margin: auto;
  left: -50vw;
  right: -50vw;
}

/*::before,*/

/*::after {*/

/*  vertical-align: inherit;*/

/*}*/

/*::-ms-clear {*/

/*  display: none;*/

/*}*/

/*:-webkit-autofill {*/

/*  box-shadow: 0 0 100px #fff inset;*/

/*  -webkit-text-fill-color: currentColor;*/

/*}*/

/*a,*/

/*area,*/

/*button,*/

/*input,*/

/*label,*/

/*select,*/

/*summary,*/

/*textarea,*/

/*[tabindex] {*/

/*  !*stylelint-disable-next-line*!*/

/*  -ms-touch-action: manipulation;*/

/*  touch-action: manipulation;*/

/*}*/

/*[tabindex='-1']:focus {*/

/*  outline: 0;*/

/*}*/

/*[aria-disabled],*/

/*[disabled] {*/

/*  cursor: not-allowed;*/

/*}*/

/*input[type='submit'],*/

/*input[type='reset'],*/

/*input[type='button'],*/

/*button {*/

/*  font: inherit;*/

/*  line-height: normal;*/

/*  overflow: visible;*/

/*  padding: 0;*/

/*  cursor: pointer;*/

/*  user-select: none;*/

/*  color: inherit;*/

/*  border: 0;*/

/*  background: none;*/

/*  appearance: initial;*/

/*}*/

/*input::-moz-focus-inner,*/

/*button::-moz-focus-inner {*/

/*  padding: 0;*/

/*  border: 0;*/

/*}*/

/*[role='button'] {*/

/*  display: inline-block;*/

/*  cursor: default;*/

/*  user-select: none;*/

/*  text-align: center;*/

/*  white-space: pre;*/

/*  text-decoration: none;*/

/*  color: inherit;*/

/*}*/

/*.video-container {*/

/*  position: relative;*/

/*  overflow: hidden;*/

/*  height: 0;*/

/*  margin-bottom: 1em;*/

/*  padding-top: 30px;*/

/*  padding-bottom: 56.25%;*/

/*}*/

/*.video-container iframe {*/

/*  position: absolute;*/

/*  top: 0;*/

/*  left: 0;*/

/*  width: 100%;*/

/*  height: 100%;*/

/*}*/

/*:focus:not(:focus-visible) {*/

/*  outline: none;*/

/*}*/

/*.visually-hidden {*/

/*  position: absolute;*/

/*  clip: rect(0 0 0 0);*/

/*  width: 1px;*/

/*  height: 1px;*/

/*  margin: -1px;*/

/*}*/

/*!*stylelint-disable-next-line*!*/

/*[aria-hidden='false'][hidden]:not(:focus) {*/

/*  position: absolute;*/

/*  display: inherit;*/

/*  clip: rect(0, 0, 0, 0);*/

/*}*/

/*! purgecss end ignore */

/*@import 'modules/sprite.css';*/

/*@import 'modules/grid.css';*/

/*@import 'modules/animations.css';*/

/* components styles*/

/*@import 'components/icon.css';*/

/*@import 'components/buttons.css';*/

/*@import 'components/links.css';*/

/*@import 'components/preloader.css';*/

/*@import 'components/homepage.css';*/

/* last styles */

/*@import 'modules/tags.css';*/

/*@import 'modules/tailwind.css';*/

html.open{
  overflow: hidden;
}

/*Header*/

.upper-header{
  background-color: #f2f2f2;
  font-size: 11px;
  font-family: 'lato', sans-serif;
  font-family: var(--lato);
  position: relative;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: auto 1fr auto;
  padding: 1.18em 0;
}

.upper-header__phone-link{
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.upper-header__phone-icon{
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  margin-right: 1.82em;
}

.upper-header__menu{
  grid-column-start: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0 0.73em 0 0;
}

.upper-header__menu-item{
  padding: 0 3em;
  margin: 0;
  border-right: 1px solid black;
}

.upper-header__menu-item:last-child{
  border-right: none;
  padding-right: 0;
}

.upper-header__menu-link{
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}

@media screen and (max-width: 800px) {
  .upper-header{
    font-size: calc(100vw / 65);
  }
  .upper-header__menu{
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .upper-header{
    display: block;
    font-size: calc(100vw / 42);
  }
  .upper-header__phone-link{
    display: none;
  }
  .upper-header__menu-item{
    padding: 0;
    border: none;
  }
}

@media screen and (max-width: 360px) {
  .upper-header{
    font-size: 9px;
  }
}

.lower-header{
  display: grid;
  grid-template-columns: auto 5fr auto 4fr auto 1fr auto auto;
  align-items: center;
  font-size: 12px;
  padding: 29px 0 18px;
}

@media screen and (max-width: 1330px) {
  .upper-header,
  .lower-header{
    padding-right: 20px;
    padding-left: 20px;
  }
}

.page-nav{
  position: relative;
}

.page-nav__menu{
  display: grid;
  grid-template-columns: 9fr 11fr 16fr 9fr;
  grid-column-gap: 1.83em;
  margin: -25px 0 0 0;
  padding: 0;
  list-style: none;
  transition: left 300ms;

}

.page-nav__link{
  text-decoration: none;
  color: inherit;
  font-family: 'playfair Display', serif;
  font-family: var(--playfair);
  font-size: 18px;
  font-style: italic;
}

.lower-header__hamburger-button{
  display: none;
  border: none;
  background-color: unset;
  padding: 0;
  border: 0;
  width: 23px;
  height: 21px;
  background-repeat: no-repeat;
  background-image: url("../img/sprite.svg#hamburger");
}

.lower-header__logo-link{
  grid-column-start: 3;
  justify-self: center;
}

.lower-header__logo-img{
  width: 230px;
  height: 75px;
  margin: 2px 0 0 -8px;
}

.lower-header__social-menu{
  grid-column-start: 5;
  list-style: none;
  margin: -19px 0 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 14px;
}

.lower-header__social-link{
  width: 34px;
  height: 34px;
  border: 2px solid;
  border-radius: 50%;
  color: #d9bf8f;
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lower-header__social-img{
  height: 14px;
  fill: currentColor;
}

.lower-header__select-wrapper{
  grid-column-start: 7;
  margin: -52px 6px 0 0;
  position: relative;
  width: 90px;
}

.lower-header__select-menu{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.lower-header__select-item{
  font-size: 12px;
  font-family: 'lato', sans-serif;
  font-family: var(--lato);
  font-weight: bold;
  color: white;
  height: 35px;
  padding: 10px;
  width: 100%;
  text-transform: uppercase;
  text-decoration: none;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lower-header__select-item:not(:first-child){
  display: none;
  border-top: 1px solid #404040;
}

.lower-header__select-item.open:not(:first-child){
  display: block;
}

.lower-header__select-icon{
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.lower-header__select-option{
  padding: 10px;
  margin: 10px 0;
}

@media screen and (max-width: 1290px) {
  .lower-header{
    font-size: calc(100vw / 107.5);
  }
}

@media screen and (max-width: 900px) {
  .page-nav__menu{
    margin: 0;
  }
  .lower-header__logo-img{
    height: 65px;
    margin: 0;
  }
  .lower-header__social-menu{
    margin: 0;
  }
  .lower-header{
    grid-template-columns: auto 1fr auto 20px auto;
    grid-template-rows: auto auto;
    grid-gap: 20px 0;
  }
  .lower-header__logo-link{
    grid-column-start: span 5;
    grid-row-start: 1;
  }
  .page-nav{
    grid-column-start: 1;
    grid-row-start: 2;
  }
  .lower-header__social-menu{
    grid-column-start: 3;
    grid-row-start: 2;
  }
  .lower-header__select-wrapper{
    grid-column-start: 5;
    grid-row-start: 2;
    margin: -35px 0 0 0;
  }
}

@media screen and (max-width: 600px) {
  .upper-header{
    display: block;
  }
  .lower-header{
    grid-template-columns: auto 1fr auto 1fr auto;
    grid-template-rows: auto auto;
    grid-gap: 20px 0;
  }
  .lower-header__hamburger-button{
    display: block;
  }
  .page-nav__menu{
    display: none;
    top: 0;
    position: fixed;
    left: 0;
    background-color: white;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    padding: 75px 20px;
  }
  .page-nav__item{
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid lightgrey;
    margin-left: 30vw;
  }
  .lower-header__logo-img{
    height: 55px;
  }
  .lower-header__social-menu {
    grid-column-gap: 8px;
  }
}

.page-nav__menu.open{
  display: block;

}

.lower-header__hamburger-button.open{
  position: relative;
  background-image: url(../img/sprite.svg#close);
  z-index: 1001;
}

/*Banner*/

.banner-section:after{
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-top: 60px solid white;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 1000;
}

@media screen and (max-width: 1290px) {
  .banner-section:after{
    border-left: calc(100vw / 6.45) solid transparent;
    border-right: calc(100vw / 6.45) solid transparent;
    border-top: calc(100vw / 21.5) solid white;
  }
}

@media screen and (max-width: 850px) {
  .banner-section:after{
    display: none;
  }
}

.banner-section__item{
  position: relative;
  font-family: 'lato', sans-serif;
  font-family: var(--lato);
  font-weight: bold;
  text-transform: uppercase;
}

.banner-section__img{
  width: 100%;
}

.banner-section__info-block{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 259px;
  height: 259px;
  border: 1px solid white;
  padding: 2% 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.banner-section__info-block:before{
  content: '';
  width: 107%;
  height: 107%;
  border: 2px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.banner-section__info-text{
  margin: 0;
}

.banner-section__info-text_one{
  font-size: 1em;
  color: white;
}

.banner-section__info-text_two{
  font-size: 3em;
}

.banner-section__info-text_three{
  font-size: 1em;
  padding: 0 8px;
  color: white;
  background-color: #8a8784;
  position: relative;
}

.banner-section__info-text_three:before{
  content: '';
  width: 150px;
  height: 1px;
  background-color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: -1
}

.banner-section__info-text_three:after{
  content: '';
  width: 200px;
  height: 1px;
  background-color: white;
  position: absolute;
  bottom: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: -1;
}

@media screen and (max-width: 1290px) {
  .banner-section__info-block{
    width: calc(100vw / 4.98);
    height: calc(100vw / 4.98);
    font-size: calc(100vw / 64.5);
  }
  .banner-section__info-text_three{
    padding: 0 calc(100vw / 161.25);
  }
  .banner-section__info-text_three:before{
    width: calc(100vw / 8.6);
  }
  .banner-section__info-text_three:after{
    width: calc(100vw / 6.45);
  }
}

.banner-section__info-text__four{
  font-size: 1.5em;
  white-space: pre;
  margin: -1px 0 0 2px;
}

.banner-section__button{
  border: none;
  background-color: #f09d66;
  color: white;
  text-transform: uppercase;
  position: absolute;
  bottom: -46%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  font-size: 1.2em;
  padding: 0.55em 1.2em;
  white-space: nowrap;
}

@media screen and (max-width: 600px) {
  .banner-section__info-block{
    width: calc(125vw / 4.98);
    height: calc(125vw / 4.98);
    font-size: calc(125vw / 64.5);
  }
  .banner-section__info-text_three{
    padding: 0 calc(125vw / 161.25);
  }
  .banner-section__info-text_three:before{
    width: calc(125vw / 8.6);
  }
  .banner-section__info-text_three:after{
    width: calc(125vw / 6.45);
  }
  .banner-section__button{
    bottom: -50%;
  }
}

@media screen and (max-width: 360px) {
  .banner-section__info-block{
    width: 90px;
    height: 90px;
    font-size: 7px;
  }
  .banner-section__info-text_three{
    padding: 0 3px;
  }
  .banner-section__info-text_three:before{
    width: 52px;
  }
  .banner-section__info-text_three:after{
    width: 70px;
  }
  .banner-section__button{
    bottom: -50%;
  }
}

.slick-dots{
  position: absolute;
  bottom: 8%;
  display: flex;
  justify-content: center;
}

.slick-dots li{
  width: auto;
  height: auto;
  margin: 0 15px;
}

.slick-dots li button{
  width: auto;
  height: auto;
  padding: 0;
}

.slick-dots li button:before{
  content: '';
  background-color: #b2b2b2;
  width: 13px;
  height: 13px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  opacity: 0.7;
  transition: all .2s;
}

.slick-dots li.slick-active button:before{
  background-color: black;
  opacity: 1;
}

.slick-dots li button:hover:before, .slick-dots li.slick-active button:hover:before {
  border: 1px solid white;
}

/*Offers*/

.offers-section{
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 129px;
  font-size: 30px;
  --border-width: 50px solid transparent;
  --border-height: 40px solid;
}

@media screen and (max-width: 1290px) {
  .offers-section{
    font-size: calc(100vw / 43);
    margin-bottom: calc(100vw / 10);
  }
}

.offers-section__item{
  height: 100px;
  color: white;
  padding: 30px 0 30px 30px;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #d9bf8f;
  background-color: var(--secondary-color);
}

.offers-section__item_left{
  left: 0;
  width: 30.4%;
}

.offers-section__item_center{
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 35%;
  padding-left: 5%;
  background-color: black;
}

.offers-section__item_right{
  right: 0;
  width: 30.4%;
}

.offers-section__item_left::after,
.offers-section__item_center::after,
.offers-section__item_center::before,
.offers-section__item_right::after{
  content: '';
  display: inline-block;
  position: absolute;
  z-index: 1;
}

.offers-section__item_left::after{
  top: 5px;
  right: -70px;
  -webkit-transform: rotate(90deg) translate(25px, 0);
  transform: rotate(90deg) translate(25px, 0);
  border-right: var(--border-width);
  border-bottom: var(--border-height) #d9bf8f;
  border-bottom: var(--border-height) var(--secondary-color);
  border-left: var(--border-width);
}

.offers-section__item_center::after{
  top: 0;
  left: -1px;
  border-top: var(--border-width);
  border-bottom: var(--border-width);
  border-left: var(--border-height) white;
}

.offers-section__item_center::before{
  top: 0;
  right: -1px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  border-top: var(--border-width);
  border-bottom: var(--border-width);
  border-left: var(--border-height) white;
}

.offers-section__item_right::after{
  top: 0;
  left: -40px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  border-top: var(--border-width);
  border-bottom: var(--border-width);
  border-left: var(--border-height) #d9bf8f;
  border-left: var(--border-height) var(--secondary-color);
}

.offers-section__item-icon{
  display: inline-block;
  width: 40px;
  height: 40px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  margin-right: 32px;
}

.offers-section__item-icon_center{
  margin-right: 20px;

}

@media screen and (max-width: 1290px) {
  .offers-section__item-icon{
    width: calc(100vw / 32.25);
    height: calc(100vw / 32.25);
    margin-right: calc(100vw / 59);
  }
  .offers-section__item-icon_center{
    margin-right: calc(100vw / 64.5);
  }
}

@media screen and (max-width: 900px) {
  .offers-section__item {
    height: 80px;
  }
  .offers-section{
    --border-height: 26px solid;
    --border-width: 40px solid transparent;
    margin-bottom: 80px;
  }
  .offers-section__item_left::after{
    top: 2px;
    right: -53px;
  }
  .offers-section__item_right::after{
    left: -26px;
  }
}

@media screen and (max-width: 750px) {
  .offers-section__item {
    height: 60px;
  }
  .offers-section{
    --border-height: 18px solid;
    --border-width: 30px solid transparent;
    margin-bottom: 60px;

  }
  .offers-section__item_left::after{
    top: -4px;
    right: -39px;
  }
  .offers-section__item_right::after{
    left: -18px;
  }
}

@media screen and (max-width: 600px) {
  .offers-section{
    display: block;
    margin: 6% 0;
    font-size: 18px;
  }
  .offers-section__item {
    margin: 2% 0;
    position: static;
    width: 100%;
    -webkit-transform: none;
    transform: none;
    padding: 30px 0 30px 25%;
  }
  .offers-section__item_left::after,
  .offers-section__item_center::after,
  .offers-section__item_center::before,
  .offers-section__item_right::after{
    display: none;
  }
  .offers-section__item-icon{
    width: 28px;
    height: 28px;
  }
}

.offers-section__main-text{
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'lato', sans-serif;
  font-family: var(--lato);
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
}

.offers-section__second-text{
  font-size: 0.5em;
  margin-top: 0.5em;
  font-weight: normal;
  text-transform: none;
}

/*Title*/

.title-block{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5% 0;
  --scale: 100vw;
}

.title-block:before,
.title-block:after{
  content: "";
  display: block;
  height: 1px;
  margin-right: 4.5%;
  background-color: #eaeaea;;
  flex-grow: 1;
}

.title-block:after{
  margin: 0 0 0 4.5%;
}

.title-block__title{
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'playfair Display', serif;
  font-family: var(--playfair);
  font-style: italic;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}

.title-block__title::before, .title-block__title::after{
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: #d9bf8f;
  background-color: var(--secondary-color);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-right: 88px;
}

.title-block__title::after{
  margin: 0 0 0 88px;
}

@media screen and (max-width: 1290px) {
  .title-block__title{
    font-size: calc(var(--scale) / 43);
    line-height: calc(var(--scale) / 43);
  }

  .title-block__title::before, .title-block__title::after{

    width: calc(var(--scale) / 92);
    height: calc(var(--scale) / 92);
    margin-right: calc(100vw / 14.66);
  }
  .title-block__title::after{
    margin: 0 0 0 calc(var(--scale) / 14.66);
  }
}

@media screen and (max-width: 900px) {
  .title-block{
    --scale: 150vw;
  }
}

@media screen and (max-width: 600px) {
  .title-block{
    --scale: 200vw;
  }
}

@media screen and (max-width: 450px) {
  .title-block__title{
    font-size: 21px;
    line-height: 21px;
  }

  .title-block__title::before, .title-block__title::after{
    width: 10px;
    height: 10px;
    margin-right: 31px;
  }
  .title-block__title::after{
    margin: 0 0 0 31px;
  }
}

/*Featured*/

.featured-content{
  display: grid;
  grid-auto-flow: column;
  grid-template: 1fr 1fr / 400fr 460fr 400fr;
  grid-row-gap: 0.65em;
  grid-column-gap: 1em;
  margin-bottom: 5em;
  font-size: 20px;
}

.featured-content__item{
  padding-top: 100%;
  position: relative;
}

@media screen and (max-width: 1290px) {
  .featured-content {
    font-size: calc(100vw / 64.5);
  }
}

@media screen and (max-width: 600px) {
  .featured-content{
    display: block;
    font-size: calc(100vw / 18);
    margin-bottom: 0;
  }
  .featured-content__item:not(:last-child){
    margin-bottom: calc(100vw / 30.77);
  }
}

@media screen and (max-width: 360px) {
  .featured-content{
    font-size: 20px;
  }
  .featured-content__item:not(:last-child){
    margin-bottom: 12px;
  }
}

.featured-content__item_center{
  grid-row-start: span 2;
  padding-top: 178%;
}

.featured-content__item_center:after{
  content: '';
  display: inline-block;
  border: 0.15em solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 92%;
  height: 92%;
}

.featured-content__img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

@media screen and (max-width: 600px) {
  .featured-content__item_center{
    padding-top: 100%;
    overflow: hidden;
  }
  .featured-content__img{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
  }
}

.featured-content__item_with-button,
.featured-content__item_jewellery{
  position: relative;
}

.button{
  border: none;
  background-color: #d9bf8f;
  background-color: var(--secondary-color);
  color: white;
  text-transform: uppercase;
  font-family: 'lato', sans-serif;
  font-family: var(--lato);
  font-size: 0.75em;
  font-weight: bold;
  padding: 1em;
  position: absolute;
  bottom: 16%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.jewellery-title-wrapper{
  position: absolute;
  top: 16%;
  width: 100%;
}

.jewellery-title-wrapper__title{
  text-transform: uppercase;
  font-family: 'lato', sans-serif;
  font-family: var(--lato);
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
  text-align: center;
}

.jewellery-title-wrapper__title_second-title{
  margin-top: 0.93em;
  font-size: 0.7em;
}

.featured-content__second-img{
  display: none;
}

.center-title-wrapper{
  position: absolute;
  top: 35%;
  left: 12%;
}

.center-title-wrapper__title{
  font-family: 'playfair Display', serif;
  font-family: var(--playfair);
  font-weight: bold;
  font-style: italic;
  font-size: 1.2em;
  margin: 0;
}

.center-title-wrapper__title_second-title{
  font-family: 'lato', sans-serif;
  font-family: var(--lato);
  font-style: normal;
  text-transform: uppercase;
  color: white;
  margin-top: 0.56em;
  font-size: 1.8em;
}

.featured-content__item_discount{
  position: relative;
}

.discount-title-wrapper{
  position: absolute;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
}

.discount-title-wrapper__title{
  font-family: 'lato', sans-serif;
  font-family: var(--lato);
  font-weight: bold;
  font-size: 2.55em;
  margin: 0;
  padding-left: 0.078em;
}

.discount-title-wrapper__title_second-title {
  text-transform: uppercase;
  margin-top: -0.333em;
  font-size: 3em;
}

/*Collection*/

.collection-content{
  display: grid;
  grid-template: repeat(2, 1fr)/ repeat(4, 1fr);
  grid-gap: 0.75em 1em;
  padding: 1em 0.75em;
  border: 1px solid #eaeaea;
  align-items: start;
  margin-bottom: 5.3em;
  font-size: 20px;
}

@media screen and (max-width: 1290px) {
  .collection-content{
    font-size: calc(100vw / 64.5);
  }
}

@media screen and (max-width: 600px) {
  .collection-content{
    grid-template: repeat(4, 1fr)/ repeat(2, 1fr);
    font-size: calc(100vw / 30);
    margin-bottom: 0;
  }
}

@media screen and (max-width: 360px) {
  .collection-content{
    font-size: 12px;
  }
}

.collection-content__item{
  position: relative;
  padding-top: 116%;
}

.collection-content__item_label::after{
  content: attr(data-discount);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.73em;
  height: 2.73em;
  border-radius: 50%;
  background-color: #feab12;
  color: white;
  font-family: 'lato', sans-serif;
  font-family: var(--lato);
  font-weight: bold;
  font-size: 1.1em;
  position: absolute;
  top: 5%;
  left: 5%;
}

.collection-content__img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: -webkit-filter 0.4s;
  transition: filter 0.4s;
  transition: filter 0.4s, -webkit-filter 0.4s;
}

.brightDown {
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
}

.collection-content__add-button{
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  border: none;
  background-color: unset;
  border-bottom: 2.1em solid black;
  border-left: 2em solid transparent;
  border-right: 2em solid transparent;
  height: 0;
  width: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.4s;
  font-size: 20px;
}

.collection-content__add-button::after{
  content: attr(data-text);
  display: inline-block;
  color: white;
  font-family: 'lato', sans-serif;
  font-family: var(--lato);
  font-weight: bold;
  font-size: 0.7em;
  text-transform: uppercase;
  line-height: 3.1428em;
  z-index: 10;
  position: absolute;
  top: 0;
}

@media screen and (max-width: 1290px) {
  .collection-content__add-button{
    font-size: calc(100vw / 64.5);
  }
}

@media screen and (max-width: 800px) {
  .collection-content__add-button{
    font-size: calc(100vw / 50);
  }
}

@media screen and (max-width: 600px) {
  .collection-content__add-button{
    font-size: calc(100vw / 30);
  }
}

@media screen and (max-width: 360px) {
  .collection-content__add-button{
    font-size: 12px;
  }
}

.color-change{
  border-bottom-color: #d9bf8f;
  border-bottom-color: var(--secondary-color);
}

/*Brands*/

.brand-content{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 55px 0 80px;
}

.brand-content__img-wrapper{
  flex-basis: 15%;
  text-align: center;
}

.brand-content__img{
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1290px) {
  .brand-content{
    padding: calc(100vw / 21.5) 0;
  }
}

@media screen and (max-width: 750px) {
  .brand-content{
    flex-wrap: wrap;
  }
  .brand-content__img-wrapper{
    flex-basis: 26%;
    margin: calc(100vw / 75) 0;
  }
}

@media screen and (max-width: 600px) {
  .brand-content{
    padding: 0;
  }
  .brand-content__img-wrapper{
    flex-basis: 34%;
  }
}

/*Says*/

.says-content {
  padding: 30px 0 4%;
  background-color: #d9bf8f;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.says-content:before{
  content:'';
  display: block;
  position: absolute;
  top: -1px;
  z-index: 2;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 180px solid transparent;
  border-right: 180px solid transparent;
  border-top: 30px solid white;
}

.says-content__content-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: 50%;
  max-height: 320px;
  --margin-minus: -100px;
  font-size: 15px;
}

.says-content__img-wrapper{
  align-self: flex-start;
  width: 39%;
  margin: auto var(--margin-minus) auto 0;
  z-index: 0;
}

.says-content__img-wrapper_right-block{
  order: 1;
  align-self: flex-end;
  margin: auto 0 auto var(--margin-minus);
}

.says-content__img{
  width: 100%;
  height: auto;
}

.says-content__img_right-block{

 }

.says-content__text{
  color: white;
  font-family: 'playfair Display', serif;
  font-family: var(--playfair);
  font-size: 1.2em;
  font-style: italic;
  margin: 14.7% 0 0 0;
  white-space: pre-line;
  line-height: 1.85em;
  align-self: flex-start;
}

.says-content__text_right-block{
  text-align: right;
  align-self: flex-end;
}

.says-content__sayer-name{
  font-family: 'playfair Display', serif;
  font-family: var(--playfair);
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
  margin: 46px 0 0 0;
  align-self: start;
  z-index: 1;
}

.says-content__sayer-position{
  color: #7f7e7e ;
  font-family: 'lato', sans-serif;
  font-family: var(--lato);
  font-size: 0.46em;
  font-weight: bold;
  display: block;
  margin-top: 19px;
}

.says-content__sayer-name_right-block{
  text-align: right;
  align-self: flex-end;
}

.says-content__sayer-position_right-block{
  text-align: right;
}

@media screen and (max-width: 1290px) {
  .says-content__content-container{
    max-height: calc(100vw / 4.03);
    font-size: calc(100vw / 86);
    --margin-minus: calc(100vw / -12.9);
  }
  .says-content {
    padding: 30px 0 4%;
  }
  .says-content::before{
    border-left: calc(100vw / 7.16) solid transparent;
    border-right: calc(100vw / 7.16) solid transparent;
    border-top: calc(100vw / 43) solid white;
  }
  .says-content__text{
    margin: calc(100vw / 14.33) 0 0 0;
  }
  .says-content__sayer-name{
    margin: calc(100vw / 28.04) 0 0 0;
  }
  .says-content__sayer-position{
    margin-top: calc(100vw / 67.9);
  }

}

@media screen and (max-width: 600px) {
  .says-content {
    display: block;
    padding: 30px 0;
  }
  .says-content::before{
    display: none;
  }
  .says-content__content-container{
    padding: 0 20px;
    max-height: calc(100vw / 1.85);
    --margin-minus: calc(100vw / -12);
    font-size: calc(100vw / 40);
  }
  .says-content__img-wrapper{
    width: 40%;
  }
  .says-content__text{
    margin: 10% 0 0 0;
  }
  .says-content__sayer-position{
    margin-top: calc(100vw / 24);
  }
}

@media screen and (max-width: 360px) {
  .says-content {
    display: block;
    padding: 30px 0;
  }
  .says-content::before{
    display: none;
  }
  .says-content__content-container{
    padding: 0 20px;
    max-height: 195px;
    --margin-minus: -30px;
    font-size: 9px;
  }
  .says-content__sayer-position{
    margin-top: 15px;
  }
}

/*Footer*/

.footer{
  position: relative;
  background-color: black;
  font-family: 'lato', sans-serif;
  font-family: var(--lato);
  padding-bottom: 80px;
}

@media screen and (max-width: 1326px) {
  .footer{
    padding-left: 18px;
    padding-right: 18px;
  }
}

.upper-footer{
  height: 440px;
  padding: 67px 0 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
}

.upper-footer::before{
  content: '';
  height: 1px;
  background-color: #737373;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 10;
}

.upper-footer::after{
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #737373;
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 10;
}

.upper-footer__menu{
  margin-bottom: 50px;
}

.upper-footer__menu_two{
  margin-left: -2px;
}

.upper-footer__menu_three{
  margin-left: -22px;
}

@media screen and (max-width: 1290px) {
  .upper-footer__menu_two{
    margin-left: calc(100vw / (-645));
  }
  .upper-footer__menu_three{
    margin-left: calc(100vw / (-58.64));
  }
}

@media screen and (max-width: 900px) {
  .upper-footer{
    height: auto;
    flex-direction: row;
  }
  .upper-footer__menu{
    flex-basis: 33%;
  }
  .upper-footer__menu_social-menu, .upper-footer__subscribe{
    flex-basis: 100%;
  }
}

.upper-footer__menu-title{
  font-weight: bold;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 42px;
}

.upper-footer__menu-title_social-title{
  margin-bottom: 47px;
}

.upper-footer__menu-title_subscribe{
  margin-bottom: 53px;
}

.upper-footer__menu-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.upper-footer__menu-link{
  font-size: 14px;
  text-decoration: none;
  color: #737373;
  line-height: 30px;
}

.upper-footer__menu-list_social-menu{
  display: flex;
}

.upper-footer__menu-item_social-item{
  margin-right: 15px;
}

@media screen and (max-width: 520px) {
  .upper-footer__menu-title{
    font-size: 11px;
    margin-bottom: 20px;
  }
  .upper-footer__menu-link{
    font-size: 10px;
    line-height: 18px;
  }
}

.upper-footer__menu-link_social-link{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upper-footer__social-img{
  height: 20px;
  fill:currentColor;
}

.subscribe-block{
  display: flex;
  border: 1px solid #737373;
  padding: 3px;
  width: 360px;
  font-size: 12px;
}

@media screen and (max-width: 520px) {
  .subscribe-block{
    max-width: 360px;
    width: auto;
  }
}

.subscribe-block__input-line{
  flex-basis: 86%;
  min-height: 34px;
  padding-left: 18px;
  background: none;
  border: none;
  color: white;
}

.upper-footer__italic-title{
  font-family: 'playfair Display', serif;
  font-family: var(--playfair);
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  text-transform: lowercase;
}

.subscribe-block__subscribe-button{
  color: white;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 1.6em;
  background-color: #323030;
  border: none;
}

.small{
  display: inline-block;
  padding: 30px 0;
  color: #737373;
  font-family: 'lato', sans-serif;
  font-family: var(--lato);
  font-size: 11px;
  line-height: 18px;
  white-space: pre-line;
}

.pay-services{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pay-services__item{
  display: flex;
  align-items: center;
  margin-right: 27px;
}

.pay-services__img{
  width: 23px;
  height: auto;
}
/*# sourceMappingURL=style.css.map */
